# always needed
ffsubsync==0.4.31
pysubs2==1.8.0
dl-translate==0.3.1
pydub==0.25.1

# runtime
numpy==2.4.2
torch>=2.10.0,<2.11

# Backend specific dependencies

# shared runtime
ffmpeg-python==0.2.0

# only transcription backend
faster-whisper==1.2.1
ctranslate2==4.7.1
